<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.boardver3.board.BoardMapper">


<insert id="insBoard" parameterType="BoardInsDto">
    insert into t_board
    (title,ctnt,iuser)
    values
    (#{title},#{ctnt},#{iuser})
</insert>

<select id="selBoard" resultType="BoardVo">
    select A.iboard,A.title,A.created_at createdAt,B.nm writer
    ,B.main_pic writerMainPic
    from t_board A
    inner join t_user B
    on A.iuser=B.iuser
    order by iboard desc
    limit ${startIdx},${row}
</select>

<select id="selBoardRowCountMaxPage" resultType="int">
    select count(iboard)
    from t_board
</select>

<select id="selBoardDetail" resultType="BoardDetailVo">
    SELECT A.iboard, A.title, A.ctnt, B.uid, B.nm, B.main_pic mainPic, A.created_at createdAt, A.updated_at updatedAt
    FROM t_board A
    INNER JOIN t_user B
    ON A.iuser = B.iuser
    WHERE iboard = #{iboard}
</select>

</mapper>