<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.boardver3.cmt.CmtMapper">
    
<insert id="insCmt" useGeneratedKeys="true" keyProperty="iboardCmt">
    insert into t_board_cmt
    (iboard,iuser,ctnt)
    values
    (#{iboard},#{iuser},#{ctnt})
</insert>

<select id="selBoardCmt" resultType="Cmtvo">
    select  A.iboard_cmt iboardCmt ,A.iboard ,A.iuser ,A.ctnt ,B.nm writer ,B.main_pic writerMainPic,
    A.created_at createdAt
    from t_board_cmt A
    inner join t_user B
    on A.iuser=B.iuser
    where A.iboard=#{iboard}
    limit #{startIdx},#{lowRen}
</select>


<delete id="delBoardCmt" >
    delete from t_board_cmt
    where
    <if test="iboardCmt>0 and iuser>0">
    iboard_cmt=#{iboardCmt} and iuser=#{iuser}
    </if>
    <if test="iboard>0">
        iboard=#{iboard}
    </if>
</delete>


<update id="updBoardCmt" parameterType="CmtEntity">
    update t_board_cmt
    set ctnt=#{ctnt},updated_at=now()
    where iboard_cmt=#{iboardCmt} and iuser=#{iuser}
</update>

<select id="selBoardCmtRowCountByIBoard">
    SELECT count(iboard_cmt) FROM t_board_cmt
    WHERE iboard = #{iboard}
</select>





</mapper>